/* App.css or the main CSS file */
#root {
    width: 100%; /* full width of the viewport */
    min-height: 100vh; /* at least full height of the viewport */
    display: flex; /* enable flexbox */
    flex-direction: column; /* stack children vertically */
    align-items: center; /* center children horizontally */
    outline: pink 5px dotted;

}

#heroshotContainer {
    width: 100%; /* full width of the root container */
    box-sizing: border-box; /* include padding and border in the element's total width and height */
    outline: blue 2px dotted;
}

html{
    background-color: #1c1c1c;
}